.DS_Store
__pycache__
/TEMP
*.pyd
hubert_base.pt
/logs
/weights
/VAE
/uvr5_weights
/TTS
/test_voices
/test_stuff
/speaker_embeddings
/runtime
/pretrained_v2
/pretrained
/logs
/embeddings
/assets
ffmpeg.exe
ffprobe.exe
hubert_base.pt
